<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Northstar Login</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dashboard_login.css">
    <script src="./js/jquery-2.1.1.min.js"></script>
</head>
<body>

    <div id="bg-top"></div>
    <div id="visual">
        <div class="logo"></div>
        <div class="login-box">
            <h1>Sign in</h1>
            <div class="login-input">
                <input type="text" name="" id="id" placeholder="ID">
                <input type="text" name="" id="pw" placeholder="PASSWORD">
            </div>
            <div class="box">
                <ul>
                    <li><input type="checkbox" id="cb1">
                        <label for="cb1"></label>
                        <label for="cb1" class="cb-txt">Remember Me</label></li>
                    <li class="forgot-pw">Forgot Password?</li>
                </ul>
            </div>
            <button>Sign in</button>
        </div>

    </div>

</body>
</html>